html {
    font-size: 14px;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

nav a, .nav-link {
    color: white;
}

    nav a:hover, .nav-link:hover {
        color: rgba(255, 255, 255, 0.4);
    }


.artical {
transition:0.4s;
cursor :pointer;
}

 .artical:hover {
        transform: rotateY(120deg) scale(1.1);
    }

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #D6274A;
    background: linear-gradient(to right, #f1395e41, #f73259b9);
    margin-bottom: 60px;
}

/*  navbar */
:root {
    --main-color: #FF8C6B;
    --main-nav: #3F72AF;
}

/* Ã⁄· «·ﬁ«∆„…  ŸÂ— Œ«—Ã «·‰«›»«— */
.dropdown-menu {
    position: absolute; /* ÌŒ—Ã «·ﬁ«∆„… „‰  œ›ﬁ «·’›Õ… */
    top: 70px; /* ÌÃ⁄· «·ﬁ«∆„…  »œ√ √”›· ’Ê—… «·»—Ê›«Ì· */
    left: 0; /* ÌÕ«–Ì «·ﬁ«∆„… ≈·Ï «·Ì”«— */
    z-index: 1050; /* Ì÷„‰ ŸÂÊ— «·ﬁ«∆„… ›Êﬁ »«ﬁÌ «·⁄‰«’— */
    min-width: 150px; /*  ÕœÌœ «·⁄—÷ «·√œ‰Ï ··ﬁ«∆„… */
    transform: translateX(-50%); /* ÌÕ—ﬂ «·ﬁ«∆„… √ﬂÀ— ‰ÕÊ «·Ì”«— */
}


/* «· √ﬂœ „‰ √‰ «·‰«›»«— ·« ÌÕ ÊÌ ⁄·Ï overflow hidden */
.navbar {
    overflow: visible !important; /* Ì ÌÕ ··⁄‰«’— «·Œ—ÊÃ „‰ «·‰«›»«— */
}


.carousel {
    width: 100%;
    height: 100%;
}

.login {
    background-color: var(--main-color);
}

.carousel-box {
    background-color: #FFE0D2;
}

.btn-form {
    background-color: black;
    color: #fff;
    transition: all .5s;
}

    .btn-form:hover {
        background-color: var(--main-nav);
        color: #fff;
    }

.navbar-nav, .nav-link, .navbar-brand, .navbar-nav .nav-link.show {
    color: #fff;
    font-size:large;
    font-weight:500;
}
    .navbar-nav:hover, .nav-link:hover, .navbar-brand:hover, .navbar-nav .nav-link.show:hover {
        color: #8F021D;
    }

    .navbar-nav .nav-link.active {
        color: #fff;
        position: relative;
    }

    .navbar-nav .nav-link {
        position: relative;
        cursor: pointer;
    }

        .navbar-nav .nav-link.active::before {
            width: 90%;
        }

        .navbar-nav .nav-link::before {
            content: "";
            width: 0%;
            height: 4px;
            background: #8F021D;
            position: absolute;
            left: 5%;
            bottom: 0px;
            -webkit-transition: all 0.4s;
            transition: all 0.4s;
            z-index: -1;
        }

.navbar {
    background-color: var(--main-nav);
    overflow: hidden;
}

.a-register {
    border: solid 1px #8F021D;
    color: #8F021D !important;
}
    .a-register:hover {
        background-color: #8F021D;
        color: #fff !important;
    }
/*  navbar */
@keyframes page-animate {
    0% {
        opacity :0;
        transform : translateX(-200%)

    }
    100% {
        opacity: 100%;
        transform: translateX(0)
    }
}

.page {
    animation: page-animate 3s;
}
.article-body {
    background-color: #6c757d8c;
}
.right-sid{
    height:400px;
    overflow-y:scroll;
}
/*** Footer Start ***/
.footer {
    background: #00224D;
}

.footer .footer-item {
    display: flex;
    flex-direction: column;
}

.footer .footer-item a {
    line-height: 35px;
    color: white;
    transition: 0.5s;
}

.footer .footer-item p {
    line-height: 35px;
}
a{
    cursor:pointer;
    text-decoration:none;
}

.footer .footer-item a:hover {
    color: #8F021D;
    background-color: cadetblue;
    border-radius: 30%;
}
.footer .footer-item .soshial a {
    color: #8F021D;
    transition: 0.5s;
}.footer .footer-item .soshial a:hover {
    color: black;
    background-color:cadetblue;
}

.footer .footer-item .footer-btn a,
.footer .footer-item .footer-btn a i {
    transition: 0.5s;
}

.footer .footer-item .footer-btn a:hover {
    background: var(--main-color);
}

    .footer .footer-item .footer-btn a:hover i {
        color: #8F021D;
    }
/*** Footer End ***/
.Article-form {
    background-image: linear-gradient(rgba(136, 5, 29, 0.9), rgba(0, 0, 0, 0.9)), url(/assets/bg_news.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.footer {
    background-image: linear-gradient(rgba(145, 152, 158, 0.5), rgba(145, 152, 158, 0.9)), url(/assets/depositphotos.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
