<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NewsHup</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NewsHup.styles.css" asp-append-version="true" />
</head>
<body>
    <header>

    

        <!-- Nav Bar -->
        <nav class="navbar navbar-expand-lg bg-dark shadow-lg ">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">News Hub</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto text-black">
                        <li class="nav-item">
                            <a class="nav-link active text-decoration-none" aria-current="page" asp-area="" asp-controller="Home" asp-action="Index">General</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Business" asp-controller="Home" asp-action="Index">Business</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Entertainment" asp-controller="Home" asp-action="Index">Entertainment</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Health" asp-controller="Home" asp-action="Index">Health</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Science" asp-controller="Home" asp-action="Index">Science</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Sports" asp-controller="Home" asp-action="Index">Sports</a>
                        </li><li class="nav-item">
                            <a class="nav-link" asp-area="Technology" asp-controller="Home" asp-action="Index">Technology</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mx-start">
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="Log in" asp-controller="Login" asp-action="Index">Log in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link bg-black text-white rounded-4" asp-area="Sign up" asp-controller="Register" asp-action="Register">Sign up</a>
                        </li>
                        <!--
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Article" asp-action="Index">Article</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white " asp-area="" asp-controller="Register" asp-action="Index">Add Article</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  text-white " asp-area="" asp-controller="Register" asp-action="Index">My Article</a>
                        </li>
                        -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container ">
        <main role="main" class="py-3">
            @RenderBody()
        </main>
    </div>

<!--
            <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2024 - NewsHup - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>

-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
