
@{
    ViewData["Title"] = "Register";
    Layout = "_MainLayout";
}
@model User

<section>
    <div class="container">
        <div class="d-flex flex-column justify-content-center align-items-center gap-3 shadow mx-auto py-2 rounded-5">
        <h2 class="h3">Register to NEWS</h2>
            <!-- input form -->
            <form method="post" class="w-75">

                <div class="form-floating mb-3">
                    <input class="form-control shadow-none rounded-4" asp-for="Name" placeholder="Name">
                    <label asp-for="Name">Name</label>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control shadow-none rounded-4" asp-for="Email" placeholder="Email">
                    <label asp-for="Email">Email</label>
                </div>

                <div class="form-floating">
                    <input asp-for="Password" type="password" class="form-control shadow-none rounded-4" placeholder="Password">
                    <label asp-for="Password">Password</label>
                </div>

                <button type="submit" class="btn btn-outline-dark rounded-pill w-25 mt-3">Sing Up</button>

            </form>

            <span>I have an account? <a asp-action="Index" asp-asp-controller="User">Sign up</a></span>

        </div>

    </div>
</section>

