@model List<Article>
@{
    ViewData["Title"] = "Home Page";
    Layout = "_MainLayout";
}
<section class="container">
    <div class="text-center my-4">

        <h1>News Website</h1>
        <p class="w-50 mx-auto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore possimus necessitatibus error pariatur iure similique veniam hic earum temporibus delectus.</p>
    </div>

    <div class="row">

        @foreach(Article article in Model)
        {
            <div class="col-md-3">

                <div class="inner">
                    <div class="card">
                        <img src="@article.ImageUrl" class="card-img-top w-100" alt="...">
                        <div class="card-body">
                            <p class="card-text">@article.Title</p>
                        </div>
                    </div>
                </div>

            </div>
        }

    </div>
</section>