@model List<Article>
@{
    ViewData["Title"] = "Home Page";
    Layout = "_HomeLayout";
}
@section Styles {
    <link href="~/lib/owlcarousel2/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/lib/owlcarousel2/assets/owl.theme.default.min.css" rel="stylesheet" />
}

<div>
    <input id="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button onclick="EmpSearch()" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</div>

<div id="TableSearch">
</div>

        <div class="owl-carousel carousel3  h-75">


            @foreach (Article article in Model)
            {
                <div class="h-100">
                     <a class="h-100 d-block" asp-controller="Article" asp-action="ArticleDetils" asp-route-id="@article.Id">
                    <div class="card h-100 position-relative">
                        @* <img src="/upload/@article.ImageUrl" class="card-img-top w-100" height="400px" alt="..."> *@
                    <picture class="h-100">
                        @if (article.ImageUrl.Contains("http"))
                        {
                            <source class="d-block w-100 object-fit-cover h-100" srcset="@article.ImageUrl">
                        }
                        else
                        {
                            <source class="w-100 d-block object-fit-cover h-100"
                                    srcset="@(article.ImageUrl.StartsWith("/upload/") ? article.ImageUrl : "/upload/" + article.ImageUrl)">
                        }
                        <img src="/assets/newspaper_11202485.gif" height="409px" class="card-img-top w-100" alt="...">
                    </picture>

                        
                        <div class="overflow-hidden card-body article-body position-absolute bottom-0 start-0 end-0 p-4  text-white">
                            <p class="card-text "><span class="bg-danger p-5">Breaking news</span> @article.Title</p>
                        </div>
                    </div>
                    </a>
                </div>
            }

        </div>




<div id="HomeArea">
    <partial name="_HomePartial" model="Model" />

</div>

@section Scripts {

    <script src="~/lib/jquery/dist/jquery.js"></script>

    <script>
        function EmpSearch() {
            var SearchText = document.getElementById("search").value;

            $.ajax({
                url: "/Home/ArticleSearch",
                data: { text: SearchText },
                success: function (result) {

                    console.log(result);

                    let tableContent = `
                                <table class="table table-dark">
                                    <thead>
                                        <tr>
                                            <th scope="col">Image</th>
                                            <th scope="col">Title</th>
                                            <th scope="col">Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>`;

                    for (let article of result) {
                        tableContent += `
                                    <tr>
                                        <td scope="row">
                                          <a href="/Article/Articledetils/${article.id}">
                                                <img src="${article.imageUrl}" alt="Article Image" style="width:100px; height:auto;" />
                                            </a>
                                        </td>
                                        <td scope="row">${article.title}</td>
                                        <td scope="row">${article.publishDate}</td>
                                    </tr>`;
                    }

                    tableContent += `
                                    </tbody>
                                </table>`;

                    document.getElementById("TableSearch").innerHTML = tableContent;
                }
            });
        }
    </script>
}