@{
    ViewData["Title"] = "AddArticle";
    Layout = "_MainLayout";
}
@model Article
<section class="container d-flex flex-column justify-content-center w-75">
    <h1>Add Article:</h1>
    <form method="post" class="shadow p-3 rounded-5">

        <div class="form-floating mb-3 ">
            <input class="form-control shadow-none rounded-4" asp-for="Title" placeholder="Title">
            <label asp-for="Title">Article Title</label>
        </div>

        <div class="form-floating mb-3 ">
            <textarea class="form-control shadow-none rounded-4" asp-for="Content" placeholder="Content"></textarea>
            <label asp-for="Content">Content</label>
        </div>

        <select class="form-control shadow-none">
            <option value="Action">Action</option>
            <option value="ActionAction">ActionAction</option>
            <option value="ActionActionAction">ActionActionAction</option>
        </select>

        <div class="form mb-3 ">
            <label asp-for="ImageUrl" class="my-2">Article Img: </label>
            <input class="form-control shadow-none rounded-4" asp-for="ImageUrl" type="file" placeholder="ImageUrl">
        </div>

        <button type="submit" class="btn btn-outline-primary m-3 ms-auto d-block w-25 shadow">Submit</button>

    </form>
</section>



