
@{
    ViewData["Title"] = "Index";
}

<section class="container my-5 w-75 mx-auto border rounded-2 p-2">
    <!-- header -->
    <div class="d-flex justify-content-between align-items-center">

        <div class="d-flex align-items-center gap-3">
            <img src="/assets/download.jpeg" width="60px" height="60px" class="rounded-pill shadow" />
            <div>
                <h2 class="h4 m-0">Name</h2>
                <span class="small text-black-50 ">10/3/2000</span>
            </div>
        </div>
        <div class="">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Edit <i class="fa-regular fa-pen-to-square"></i></a></li>
                    <li><a class="dropdown-item" href="#">Delete <i class="fa-solid fa-trash"></i></a></li>
                </ul>
            </div>
        </div>

    </div>

    <!-- body -->
    <div class="border-top mt-2">
        <h3 class="h4">title article</h3>
        <img src="/assets/920241116286633.webp" alt="" class="w-100">
        <p class="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi quis ea molestias omnis delectus id dicta. Quasi aut doloribus illum autem impedit itaque quis sequi, consequuntur, laboriosam, non ratione ad! Labore quam distinctio fugiat eveniet iste hic eos odit perspiciatis.</p>
    </div>


</section>

