
@{
    ViewData["Title"] = "Index";
}

<section>


    <div class="row">
        <div class="col-md-4">
            <!-- img -->
        </div>
        <div class="col-md-8">
            <div class="container mt-5">
                <h2>Sign in to NEWS</h2>
                <div class="d-flex flex-column justify-content-center align-items-center gap-3 shadow w-75 mx-auto py-5 rounded-5">
                    <button class="btn bg-white border rounded-pill p-3">Sign in with Google</button>
                    <span class="text-black-50">-- or sing in with email --</span>

                    <!-- input form -->
                    <div class="form-floating mb-3 w-50">
                        <input type="email" class="form-control shadow-none rounded-4" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email</label>
                    </div>
                    <div class="form-floating w-50">
                        <input type="password" class="form-control shadow-none rounded-4" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <button class="btn btn-outline-dark rounded-pill px-4 py-2 w-50">Sing in</button>
                    <a href="">Forgot Password?</a>
                    <span>Don't have an account? <a href="./regester.html">Sign up</a></span>

                </div>

            </div>
        </div>
    </div>

</section>

